

#main-section{
    width: 100%;
    height:  calc(100% - calc(var(--header-height)*1));
    margin: var(--header-height) 0;
    border-radius: 10px;
    position: fixed;
    overflow: scroll;
    /* border: 1px solid aqua; */
    position: relative;
    background-color: rgb(236, 242, 243);
    border-radius: 0;
}
/* p{
    height: 5000px;
} */













@media(max-width: 785px){

    #main-section{
        border: none;
    }

}